<a href="https://colab.research.google.com/github/BattalBAKINDI/MarketValueOfCentralForwardsInFootball/blob/main/organization__of_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
datacp = pd.read_csv("/content/drive/MyDrive/second_project/df.csv")

In [ ]:
datacp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 710
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          716 non-null    int64
 1   skill               716 non-null    float64
 2   pot_skill           716 non-null    float64
 3   name                716 non-null    object
 4   age                 716 non-null    float64
 5   value               716 non-null    object
 6   height              716 non-null    object
 7   weight              716 non-null    object
 8   foot                716 non-null    object
 9   season22_23_minute  716 non-null    float64
 10  season22_23_goal    716 non-null    object
 11  season22_23_assist  716 non-null    object
 12  season21_22_minute  716 non-null    float64
 13  season21_22_goal    716 non-null    object
 14  season21_22_assist  716 non-null    object
dtypes: float64(5), int64(1), object(9)
memory usage: 89.5+ KB

In [ ]:
datacp

,Unnamed: 0,skill,pot_skill,name,age,value,height,weight,foot,season22_23_minute,season22_23_goal,season22_23_assist,season21_22_minute,season21_22_goal,season21_22_assist
0,0,92.2,100.0,Kylian Mbappé,24.0,€146.8M,178cm,75 kg,Right,2195.0,21,6,4098.0,36,25
1,1,93.2,100.0,Erling Haaland,22.0,€139M,195cm,88 kg,Left,2120.0,31,3,2206.0,23,8
2,2,93.9,100.0,Phil Foden,22.0,€124.5M,171cm,70 kg,Left,1614.0,8,4,2986.0,12,7
3,3,88.3,89.2,Harry Kane,29.0,€89.8M,188cm,86 kg,Right,2814.0,18,4,3482.0,17,9
4,4,91.7,93.9,Raheem Sterling,28.0,€89.6M,170cm,71 kg,Right,1840.0,6,3,2905.0,16,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,698,55.3,55.3,Jaime Mata,34.0,€1.5M,186cm,79 kg,Right,71.0,-,-,771.0,1,-
702,702,55.7,67.0,Max Fenger,21.0,€1.5M,182cm,75 kg,Right,175.0,-,-,1680.0,6,-
706,706,53.9,54.2,Ernesto Torregrossa,30.0,€1.4M,184cm,80 kg,Left,606.0,5,1,1283.0,7,2
707,707,52.8,62.2,Mikael,23.0,€1.4M,184cm,85 kg,Both,1190.0,3,-,489.0,1,-
710,710,53.2,66.4,John Kennedy,20.0,€1.4M,181cm,71 kg,Right,216.0,-,-,308.0,2,-

In [ ]:
datacp.drop(columns=["Unnamed: 0"], axis=1, inplace=True)

In [ ]:
columns = ["season22_23_goal","season22_23_assist","season21_22_goal","season21_22_assist"]

* we replace the -  in the data with 0.

In [ ]:
for column in columns:
    datacp[column] = datacp[column].replace('-',0)

In [ ]:
columns_ = ["season22_23_goal","season22_23_assist","season21_22_goal","season21_22_assist"]

* I'm converting our numeric data, which is in the object structure, to an int structure.

In [ ]:
for column in columns_:
    datacp[column] = datacp[column].astype(int)

In [ ]:
datacp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 710
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   skill               716 non-null    float64
 1   pot_skill           716 non-null    float64
 2   name                716 non-null    object
 3   age                 716 non-null    float64
 4   value               716 non-null    object
 5   height              716 non-null    object
 6   weight              716 non-null    object
 7   foot                716 non-null    object
 8   season22_23_minute  716 non-null    float64
 9   season22_23_goal    716 non-null    int64
 10  season22_23_assist  716 non-null    int64
 11  season21_22_minute  716 non-null    float64
 12  season21_22_goal    716 non-null    int64
 13  season21_22_assist  716 non-null    int64
dtypes: float64(5), int64(4), object(5)
memory usage: 83.9+ KB

* I am combining the statistics (minutes, goals and assists) of 2022 and 2023, which are in separate columns, in the same columns.

In [ ]:
datacp["minute"] = datacp.season21_22_minute + datacp.season22_23_minute
datacp["goal"] = datacp.season21_22_goal + datacp.season22_23_goal
datacp["asisst"] = datacp.season21_22_assist + datacp.season22_23_assist
datacp.head()

,skill,pot_skill,name,age,value,height,weight,foot,season22_23_minute,season22_23_goal,season22_23_assist,season21_22_minute,season21_22_goal,season21_22_assist,minute,goal,asisst
0,92.2,100.0,Kylian Mbappé,24.0,€146.8M,178cm,75 kg,Right,2195.0,21,6,4098.0,36,25,6293.0,57,31
1,93.2,100.0,Erling Haaland,22.0,€139M,195cm,88 kg,Left,2120.0,31,3,2206.0,23,8,4326.0,54,11
2,93.9,100.0,Phil Foden,22.0,€124.5M,171cm,70 kg,Left,1614.0,8,4,2986.0,12,7,4600.0,20,11
3,88.3,89.2,Harry Kane,29.0,€89.8M,188cm,86 kg,Right,2814.0,18,4,3482.0,17,9,6296.0,35,13
4,91.7,93.9,Raheem Sterling,28.0,€89.6M,170cm,71 kg,Right,1840.0,6,3,2905.0,16,7,4745.0,22,10

In [ ]:
datacp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 710
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   skill               716 non-null    float64
 1   pot_skill           716 non-null    float64
 2   name                716 non-null    object
 3   age                 716 non-null    float64
 4   value               716 non-null    object
 5   height              716 non-null    object
 6   weight              716 non-null    object
 7   foot                716 non-null    object
 8   season22_23_minute  716 non-null    float64
 9   season22_23_goal    716 non-null    int64
 10  season22_23_assist  716 non-null    int64
 11  season21_22_minute  716 non-null    float64
 12  season21_22_goal    716 non-null    int64
 13  season21_22_assist  716 non-null    int64
 14  minute              716 non-null    float64
 15  goal                716 non-null    int64
 16  asisst              716 non-null    int64
dtypes: float64(6), int64(6), object(5)
memory usage: 100.7+ KB

In [ ]:
datacp.drop(columns=["season22_23_minute","season22_23_goal","season22_23_assist","season21_22_minute","season21_22_goal","season21_22_assist"],axis=1,inplace=True)

In [ ]:
datacp

,skill,pot_skill,name,age,value,height,weight,foot,minute,goal,asisst
0,92.2,100.0,Kylian Mbappé,24.0,€146.8M,178cm,75 kg,Right,6293.0,57,31
1,93.2,100.0,Erling Haaland,22.0,€139M,195cm,88 kg,Left,4326.0,54,11
2,93.9,100.0,Phil Foden,22.0,€124.5M,171cm,70 kg,Left,4600.0,20,11
3,88.3,89.2,Harry Kane,29.0,€89.8M,188cm,86 kg,Right,6296.0,35,13
4,91.7,93.9,Raheem Sterling,28.0,€89.6M,170cm,71 kg,Right,4745.0,22,10
...,...,...,...,...,...,...,...,...,...,...,...
698,55.3,55.3,Jaime Mata,34.0,€1.5M,186cm,79 kg,Right,842.0,1,0
702,55.7,67.0,Max Fenger,21.0,€1.5M,182cm,75 kg,Right,1855.0,6,0
706,53.9,54.2,Ernesto Torregrossa,30.0,€1.4M,184cm,80 kg,Left,1889.0,12,3
707,52.8,62.2,Mikael,23.0,€1.4M,184cm,85 kg,Both,1679.0,4,0
710,53.2,66.4,John Kennedy,20.0,€1.4M,181cm,71 kg,Right,524.0,2,0

In [ ]:
datacp['value'] = datacp['value'].apply(lambda x: str(x)[1:-1])
datacp['height'] = datacp["height"].apply(lambda x: str(x)[0:-2])
datacp["weight"] = datacp["weight"].apply(lambda x: str(x)[0:-3])
datacp

,skill,pot_skill,name,age,value,height,weight,foot,minute,goal,asisst
0,92.2,100.0,Kylian Mbappé,24.0,146.8,178,75,Right,6293.0,57,31
1,93.2,100.0,Erling Haaland,22.0,139,195,88,Left,4326.0,54,11
2,93.9,100.0,Phil Foden,22.0,124.5,171,70,Left,4600.0,20,11
3,88.3,89.2,Harry Kane,29.0,89.8,188,86,Right,6296.0,35,13
4,91.7,93.9,Raheem Sterling,28.0,89.6,170,71,Right,4745.0,22,10
...,...,...,...,...,...,...,...,...,...,...,...
698,55.3,55.3,Jaime Mata,34.0,1.5,186,79,Right,842.0,1,0
702,55.7,67.0,Max Fenger,21.0,1.5,182,75,Right,1855.0,6,0
706,53.9,54.2,Ernesto Torregrossa,30.0,1.4,184,80,Left,1889.0,12,3
707,52.8,62.2,Mikael,23.0,1.4,184,85,Both,1679.0,4,0
710,53.2,66.4,John Kennedy,20.0,1.4,181,71,Right,524.0,2,0

* I'm converting our numeric data, which is in the object structure, to an int structure.

In [ ]:
datacp["value"] = datacp["value"].astype(float)
datacp["height"] = datacp["height"].astype(int)
datacp["weight"] = datacp["weight"].astype(int)

In [ ]:
datacp

,skill,pot_skill,name,age,value,height,weight,foot,minute,goal,asisst
0,92.2,100.0,Kylian Mbappé,24.0,146.8,178,75,Right,6293.0,57,31
1,93.2,100.0,Erling Haaland,22.0,139.0,195,88,Left,4326.0,54,11
2,93.9,100.0,Phil Foden,22.0,124.5,171,70,Left,4600.0,20,11
3,88.3,89.2,Harry Kane,29.0,89.8,188,86,Right,6296.0,35,13
4,91.7,93.9,Raheem Sterling,28.0,89.6,170,71,Right,4745.0,22,10
...,...,...,...,...,...,...,...,...,...,...,...
698,55.3,55.3,Jaime Mata,34.0,1.5,186,79,Right,842.0,1,0
702,55.7,67.0,Max Fenger,21.0,1.5,182,75,Right,1855.0,6,0
706,53.9,54.2,Ernesto Torregrossa,30.0,1.4,184,80,Left,1889.0,12,3
707,52.8,62.2,Mikael,23.0,1.4,184,85,Both,1679.0,4,0
710,53.2,66.4,John Kennedy,20.0,1.4,181,71,Right,524.0,2,0